.card-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: rgb(247, 247, 247);
    box-shadow: 1px 1px 2px 1px #6868688a;

}

.card{
    margin: 10px 22px;
    background-color: rgb(235, 235, 235);
    box-shadow: 1px 1px 2px 1px #6868688a;
    flex-basis: 27%;
}

.card-boddy{
    padding: 10px 16px;
}


.dashboard{
    display: flex;
    margin: 10px 0px;
}

.list-menu{
    text-align: center;
    color: white;
    text-decoration: none;
    margin: 10px 0px;
}
.list-menu:hover{
    color: white;
    background-color: rgba(133, 216, 255, 0.384);
    text-decoration: none;
}
.btn-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.row{
    padding: 10px;
}

.msg-format{
    position: relative;
    display: flex;
    flex-direction: column;
}


/* RESPONSIVO */

@media (max-width: 1126px){
    .card{
        margin: 10px 22px;
        background-color: rgb(235, 235, 235);
        box-shadow: 1px 1px 2px 1px #6868688a;
        flex-basis: 38%;
    }
 
}

@media (max-width: 691px){
    .card{
        margin: 10px 22px;
        background-color: rgb(235, 235, 235);
        box-shadow: 1px 1px 2px 1px #6868688a;
        flex-basis: 40%;
    }
 
}

@media (max-width: 773px){
    .card{
        margin: 10px 22px;
        background-color: rgb(235, 235, 235);
        box-shadow: 1px 1px 2px 1px #6868688a;
        flex-basis: 42%;
    }
 
}

@media (max-width: 733px){
    .card{
        margin: 10px 22px;
        background-color: rgb(235, 235, 235);
        box-shadow: 1px 1px 2px 1px #6868688a;
        flex-basis: 100%;
    }
 
}

@media (max-width: 773px){
    div.nav-btn{
        visibility: hidden;
    }
    .nav-search{
        position: absolute;
    }
}

@media (max-width: 605px){
    body{
        height: 100vh;
        margin: 0;
        display: grid;
        grid-template-rows: 70px 1fr;
        grid-template-columns: 125px 1fr;
        grid-template-areas: 
        "cabecalho cabecalho "
        "menu-lateral principal" 
        "menu-lateral principal" ;
    }
}