*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    width: 130px;
    height: 60px;
    margin-left: 5px;
}


body{
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: 70px 1fr 35px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "cabecalho"
    "principal" 
    "rodape";
}

.cabecalho{
    grid-area: cabecalho;
    background-color: #00263f;
}

.principal{
    grid-area: principal;
    background-color: #ffffff; 
    
}

.conteudo-form{
    position: relative;
    height: 100%;
    padding: 20px;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-home{
    position: relative;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.rodape{
    grid-area: rodape;
    background-color: #00263f;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(205, 233, 255);
    
}
