*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

img{
    width: 160px;
    height: 60px;
    margin-left: 5px;
}


body{
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: 70px 1fr 30px;
    grid-template-columns:1fr;
    grid-template-areas: 
    "cabecalho "
    "principal" 
    "rodape" ;
}

/* CABEÇALHO DA PAGINA */
.cabecalho{
    grid-area: cabecalho;
    background-color: #07314d;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.637);
    z-index: 0;
}

/* CONTEUDO DA PAGINA */
.principal{
    grid-area: principal;
    background-color: #ffffff;
    
}

.conteudo-form{
    position: relative;
    height: 100%;
    padding: 10px;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-home{
    position: relative;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.section-conteudo{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    
}


.rodape{
    grid-area: rodape;
    color: white;
    background-color: #07314d;
    display: flex;
    align-items:center ;
    justify-content: center;
}


